spring:
  profiles: dev
  application:
    name: csuftspider
#DataSource  Config
#  datasource:
#    url:
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver
  session:
    timeout: 86400
#mybatis-plus Config
server:
  port: 8082
  servlet:
    context-path: /api
#mybatis-plus:
#  configuration:
#    map-underscore-to-camel-case: false
#
#  global-config:
#    db-config:
#      logic-delete-field: isDeleted # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
#      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
#      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)


---
spring:
  profiles: prod
  application:
    name: csuftspider
  #DataSource  Config
#  datasource:
#    url:
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver
  session:
    timeout: 86400
#mybatis-plus Config
server:
  port: 8085
  servlet:
    context-path: /api
#mybatis-plus:
#  configuration:
#    map-underscore-to-camel-case: false
#
#  global-config:
#    db-config:
#      logic-delete-field: isDeleted # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
#      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
#      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)

---


spring:
  profiles.active: dev



